

img{
  width: 100px;
}

body{
  padding-top: 50px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  transform: scale(1.3);
  overflow-x: hidden;
  background-image: url(img/achtergrond.jpg);
  background-size: 1700px;
  color: #000;
}

/* Eigen antwoord */
#myAwnser{
  text-align: center;
}

.row2,
.row3{
  display: inline-block;
}

/* Gekleurde letters */
.blauw{color: blue;}
.rood{color:red;}
.red{color:red;}
.oranje{color:gold;}
.paars{color:fuchsia;}
.groen{color:green;}
.geel{color: yellow;}
.roze{color:pink;}

